<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack.shop.goods.dao.GoodsImgDao">
    
	<select id="selectGoodsIdForNull" resultType="GoodsImg">  
        select 
        	id as id,
        	name as name,
        	path as path
        from 
        	shop_goods_img 
        where 
        	ISNULL(goods_id)
    </select>  
    
	
	
</mapper>