<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack.shop.dict.dao.DictDao">
    
	<sql id="dictColumns">
		a.id AS "id",
		a.name AS "name",
		a.type AS "type",
		a.sort AS "sort",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="dictJoins">
	</sql>
	
	<sql id="whereDefaultJoins">
		a.del_flag = #{DEL_FLAG_NORMAL}
		and a.o_id = #{oId}
	</sql>
    
	
	
</mapper>