<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack.shop.report.dao.ReportDao">
    
	<select id="delByCountDate" parameterType="java.lang.String">
		delete 
		
		from 
			shop_report 
		where 
			count_date=#{countDate}
    </select>  
    
    <select id="groupByYearMonthDay" resultType="java.util.HashMap">
		select 
			DATE_FORMAT(count_date,'%Y') as `year`, 
			DATE_FORMAT(count_date,'%m') as `month`, 
			DATE_FORMAT(count_date,'%d') as `day`
		from 
			shop_report 
		group by DATE_FORMAT(count_date,'%Y-%m-%d') 
		<!-- order by count_date asc -->
    </select> 
	
	<!-- getDataGroupByCycle start -->
	<select id="getDataGroupByYear" resultType="Report">
		select 
			DATE_FORMAT(count_date,'%Y') as `countDate`, 
			sum(total) as `total`
		from 
			shop_report 
		<where>
			<if test="type != null and type != ''">
				and type=#{type}
			</if>
		</where>
		group by DATE_FORMAT(count_date,'%Y') 
    </select> 
    
    <select id="getDataGroupByMonth" resultType="Report">
		select 
			DATE_FORMAT(count_date,'%m') as `countDate`, 
			sum(total) as `total`
		from 
			shop_report 
		<where>
			<if test="type != null and type != ''">
				and type=#{type}
			</if>
			<if test="countDate!=null and countDate!=''">
				and INSTR(count_date,#{countDate}) &gt; 0
			</if>
		</where>
		group by DATE_FORMAT(count_date,'%Y-%m') 
    </select> 
    
    <select id="getDataGroupByDay" resultType="Report">
		select 
			DATE_FORMAT(count_date,'%d') as `countDate`, 
			sum(total) as `total`
		from 
			shop_report 
		<where>
			<if test="type != null and type != ''">
				and type=#{type}
			</if>
			<if test="countDate!=null and countDate!=''">
				and INSTR(count_date,#{countDate}) &gt; 0
			</if>
		</where>
		group by DATE_FORMAT(count_date,'%Y-%m-%d') 
    </select> 
	<!-- getDataGroupByCycle end -->
	
	<!-- getDataGroupByGoodsId start -->
	<select id="getDataGroupByGoodsIdByYear" resultType="Report">
		select 
			DATE_FORMAT(count_date,'%Y') as `countDate`, 
			sum(total) as `total`,
			goods_id as goodsId
		from 
			shop_report 
		<where>
			<if test="type != null and type != ''">
				and type=#{type}
			</if>
		</where>
		group by DATE_FORMAT(count_date,'%Y') ,goods_id
    </select> 
    
    <select id="getDataGroupByGoodsIdByMonth" resultType="Report">
		select 
			DATE_FORMAT(count_date,'%Y-%m') as `countDate`, 
			sum(total) as `total`,
			goods_id as goodsId
		from 
			shop_report 
		<where>
			<if test="type != null and type != ''">
				and type=#{type}
			</if>
			<if test="countDate!=null and countDate!=''">
				and INSTR(count_date,#{countDate}) &gt; 0
			</if>
		</where>
		group by DATE_FORMAT(count_date,'%Y-%m') ,goods_id
    </select> 
    
    <select id="getDataGroupByGoodsIdByDay" resultType="Report">
		select 
			DATE_FORMAT(count_date,'%Y-%m-%d') as `countDate`, 
			sum(total) as `total`,
			goods_id as goodsId
		from 
			shop_report 
		<where>
			<if test="type != null and type != ''">
				and type=#{type}
			</if>
			<if test="countDate!=null and countDate!=''">
				and INSTR(count_date,#{countDate}) &gt; 0
			</if>
		</where>
		group by DATE_FORMAT(count_date,'%Y-%m-%d')	,goods_id 
    </select> 
	<!-- getDataGroupByGoodsId end -->
	
	
</mapper>